@import "nullstyle.scss";


.wrapper {
    height: 100svh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(0.8);
    .content{
        form{
            display: grid;
            border: 1px solid black;
            padding: 15px 50px;
            border-radius: 10px;
            background-color: rgba(221, 221, 221, 0.473);
            backdrop-filter: blur(2px);
            row-gap: 20px;
            .form__title{
                text-align: center;
                font-size: 35px;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                font-weight: 700;
            }

            .form__item{
                display: grid;
                row-gap: 10px;
                .form__label{
                    font-size: 20px;
                    font-weight: 600;
                }
                .form__input{
                    padding: 10px;
                    font-size: 20px;
                    border-radius: 5px;
                    background-color: rgba(124, 124, 124, 0.473);
                    border: 1px solid black !important;
                    transition: all 0.5s;
                    &:focus{
                        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
                        background-color: rgb(228, 228, 228);
                    }
                }
            }
            .form__action{
                display: flex;
                text-align: center;
                flex-direction: column;
                row-gap: 10px;
                .form__btn{
                    padding: 10px;
                    font-size: 20px;
                    font-weight: 700;
                    border-radius: 5px;
                    color: black;
                    border: 1px solid black !important;
                    transition: all 0.5s;
                    &:hover{
                        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
                        background-color: transparent;
                    }
                }
                .form__link{
                    font-size: 20px;
                    text-align: center;
                    color: teal;
                    font-weight: 700;
                }
            }
        }
    }
}